// 将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级。

.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right


.theme-default-content p, ul, ol {
    font-size: small;
    line-height: 1.6
}

.theme-default-content pre[class*="language-"]{
    font-size: small
    line-height: 1.4
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
}

.theme-default-content code {
  font-family: Menlo, Console, Manaco
  color: #f76800
  background-color: rgba(210, 215, 220, 0.05)
}

blockquote{
  border-left: 4px solid #49ac8348
  background-color: rgba(66, 185, 131, 0.062)
}

table {
  font-size: small;
}

// 分组标题
p.sidebar-heading{
  font-size: 18px !important;
  font-weight: 700;
  // color: red !important;
}

// 1级标题（左侧）
ul.sidebar-links > li > a.sidebar-link{
  font-size: 16px !important;
  font-weight: 600;
  // color: skyblue !important;
}

// 注释
.comment{
  color #666 !important
}